general = {
	logfile = "test.log";
}

tranceivers = (
	{
		type = "kiss";

		id = "ax0";

		incoming-rate-limiting = {
			max-per-interval  = 1;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		callsign = "PD9FVH";
	},

	{
		type = "lora-sx1278";

		id = "lora-sx1278";

		incoming-rate-limiting = {
			max-per-interval  = 3;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		dio0-pin = 17;
		reset-pin = 27;
	},

	{
		type = "aprs-si";

		id = "aprs-si";

		incoming-rate-limiting = {
			max-per-interval  = 10;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		aprs-user = "PD9FVH";
		aprs-pass = "19624";
	},

	{
		type = "beacon";

		id = "beacon";

		text = "Hello, world!";
		interval = 30;

		mode = "aprs";

		source-callsign = "PD9FVH";
	},

	{
		id = "axudp-tunnels";

		type = "axudp";

		incoming-rate-limiting = {
			max-per-interval  = 5;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		listen-port = 10093;

		destinations = "10.208.30.222:10093 192.168.64.200:10093 172.29.0.107:10093";

		# send to other destinations for this tunnel as well
		distribute = true;
	}
)

connections = (
	{
		from = "ax0";
		to   = "aprs-si";
	},

	{
		from = "aprs-si";
		to   = "ax0";
	},

	{
		from = "ax0";
		to   = "axudp-tunnels";
	},

	{
		from = "axudp-tunnels";
		to   = "ax0";
	},

	{
		from = "beacon";
		to   = "ax0";
	},

	{
		from = "beacon";
		to   = "lora-sx1278";
	},

	{
		from = "beacon";
		to   = "axudp-tunnels";
	}
)
