general = {
	logfile = "test.log";
}

snmp = {
	port = 161;
}

tranceivers = (
	{
		type = "kiss";

		id = "ax0";

		incoming-rate-limiting = {
			max-per-interval  = 1;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		callsign = "PD9FVH";
	},

	{
		type = "lora-sx1278";

		id = "lora-sx1278";

		incoming-rate-limiting = {
			max-per-interval  = 3;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		dio0-pin = 17;
		reset-pin = 27;
	},

	{
		type = "aprs-si";

		id = "aprs-si";

		incoming-rate-limiting = {
			max-per-interval  = 10;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		aprs-user = "PD9FVH";
		aprs-pass = "19624";
	},

	{
		type = "beacon";

		id = "beacon-ax25";

		text = "Hello, world!";
		interval = 30;

		mode = "ax25";

		source-callsign = "PD9FVH";
	},

	{
		type = "beacon";

		id = "beacon-aprs";

		text = "Hello, world!";
		interval = 600;

		mode = "aprs";

		latitude = 52.02770409802103;
		longitude = 4.695678386393786;

		source-callsign = "PD9FVH";
	},

	{
		id = "axudp-tunnels";

		type = "axudp";

		incoming-rate-limiting = {
			max-per-interval  = 5;
			interval-duration = 60;
			max-n-elements    = 1000;
		}

		listen-port = 10093;

		destinations = "10.208.30.222:10093 192.168.64.200:10093 172.29.0.107:10093";

		# send to other destinations for this tunnel as well
		distribute = true;
	}
)

connections = (
	{
		from = "ax0";
		to   = "axudp-tunnels";
	},

	{
		from = "axudp-tunnels";
		to   = "ax0";
	},

	{
		from = "beacon-ax25";
		to   = "ax0";
	},

	{
		from = "beacon-ax25";
		to   = "lora-sx1278";
	},

	{
		from = "beacon-ax25";
		to   = "axudp-tunnels";
	},

	{
		from = "beacon-aprs";
		to   = "ax0";
	},

	{
		from = "beacon-aprs";
		to   = "lora-sx1278";
	},

	{
		from = "beacon-aprs";
		to   = "axudp-tunnels";
	}
)

webserver = {
	http-port = 80;

	websockets-port = 9000;

	websockets-ssl-enabled = false;
	websockets-ssl-certificate = "";
	websockets-ssl-private-key = "";
	websockets-ssl-ca = "";
}
